/* CSS document */ 

img{ 
    width: 100%; 
}

a{ 
    text-decoration: none; 
    text-transform: uppercase;
    font-family: sans-serif; 
    font-weight: bold;
    color: #55C3C4;
}

/*.mainmenu a{ 
    text-transform: uppercase;
    font-family: sans-serif; 
    font-weight: bold;
    color: #55C3C4;
} */

h1{ 
    margin: 0;}

ul{ 
    list-style-type: none; 
    padding: 0;}

.mainmenu ul{ 
    margin: 0; 
}

.mainmenu li{ 
    float: left; 
    margin-right: 2em;
    padding: 1em;
}






.header, .maincontent { 
    clear: both; 
}