/* CSS document */ 

html{ 
    font-family: Helvetica; 
    background-color: #FAE29C;
}

img{ 
    width: 100%; 
    display: block; 
}

li{ 
    font-size: 1.5em;
}

h3{ 
    font-size: 2em;}

.maincontent h1{ 
    text-transform: uppercase; 
    font-weight: normal; 
    font-size: 5em;
    padding: 1em;
    margin: 0; 
    text-align: center; 
    line-height: 1.5em;
    background-color: #E20C04;
    color: #FFF; 
}

.bold{ 
    font-weight: bold; 
}

.header img{ /* sylvesters logo */
    width: 60%; 
    margin-left: 1em;
}

ul{ 
    list-style-type: none; 
}

.header, .maincontent, .mainmenu { 
    clear: both; 
}

/*mainmenu content*/ 

.mainmenu{ 
    display: flex; 
    justify-content: center; 
    width: 100; 
}

.mainmenu a{ 
    text-decoration: none; 
    text-transform: uppercase;
    font-family: sans-serif; 
    font-weight: bold;
    color: 	#202020;
} 

.mainmenu ul{ 
    margin: 0; 
}

.mainmenu li{ 
    float: left; 
    margin-right: 1em;
    padding: 1em;
    font-size: 1.5em;
}

/*index.html*/

.location-block{ 
    position: absolute; 
    bottom: 19.25em; 
    right: 3em;
    background-color: #55C3C4;
    padding-left: 1em; 
    padding-right: 1em;
}

.container a{ 
    background-color: #55C3C4;
    padding: 1em;
    text-decoration: none;
    font-family: sans-serif;
    color: white; 
}

/*location.html*/

.location{ 
    padding-top: 1em;
}

.maincontent h4{ 
    text-transform: uppercase;
}

.hours{ 
    font-weight: bold; 
}

.details h3{ 
    text-transform: uppercase;
    text-align: center; 
    background-color: #55C3C4;
    color: #FFFF; 
}

.location h3{ 
    padding: .25em;
    margin-top: 0;
    margin-bottom: 0; 
    }

.location p{ 
    padding: 0; 
    line-height: .9em;
}

.locimage{ 
    width: 45%; 
    float: left;
    padding-right: 1em;
    padding-bottom: 10em;
}

.details{ 
    float: left;
    width: 45%;
    padding-bottom: 15em;
    margin-top: 0; 
}

.details ul{ 
    padding: 0;
}

/*menu.html*/ 

.burgers, .range, .sandwiches, .garden, .other{ 
    border: solid;
    padding-left: 1em; 
    padding-right: 1em;
    margin: 1em;
}
.price{ 
    color: black; 
    font-family: sans-serif;
    font-weight: normal; 
}
.maincontent h3{
    text-transform: uppercase;
    text-align: center; 
    background-color: #55C3C4;
    padding: 1em;
    color: #FFFF; 
}

.dressing{
    text-align: center; 
}

.maincontent p{ 
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.5em; 
}


.image{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

/*contest.html*/
.indent{ 
    padding-left: 1em; 
    padding-right: 1em; 
}




