/* CSS document */ 

html{ 
    font-family: Helvetica; 
    margin: 2em; 
}

img{ 
    width: 100%; 
    display: block; 
}

.header img{ 
    float: left; 
    display: block; 
}

.brand { 
    float: left; 
    width: 60%; 
    padding-top: .8em;
    line-height: 1em; 
}

h1{ 
    margin: 0;
    color: #FF0101; 
    text-align: center;
}

ul{ 
    list-style-type: none; 
    padding: 0;}

.maincontent { 
    border-color: red; 
}

/*mainmenu content*/ 

.mainmenu a{ 
    text-decoration: none; 
    text-transform: uppercase;
    font-family: sans-serif; 
    font-weight: bold;
    color: #55C3C4;
} 

.mainmenu ul{ 
    text-align: center; 
    display: inline-block;
    border-bottom: solid 2px black; 
    }

.mainmenu li{ 
    float: left; 
    margin-right: 1em;
    padding: 1em;
    display: inline-block;
}

/*index.html*/
.container{ 
    position: relative; 
}

.location-block{ 
    position: absolute; 
    bottom: 19.25em; 
    right: 3em;
    background-color: #55C3C4;
    padding-left: 1em; 
    padding-right: 1em;
}

.location-block a{ 
    text-decoration: none;
    font-family: sans-serif;
    color: white; 
}

.header, .maincontent, .mainmenu { 
    clear: both; 
}

/*location.html*/
.locations img{ 
    width: 80%;
}

.locations ul{ 
    padding-bottom: 1em;
}

