/* CSS document */ 

html{ 
    font-family: sans-serif;
    margin: 2em; 
}

img{ 
    width: 100%; 
}

h1{ 
    margin: 0;
    color: #FF0101; 
    text-align: center;
}

ul{ 
    list-style-type: none; 
    padding: 0;}

.maincontent { 
    border-top: solid 1px; 
    border-color: black; 
}

/*mainmenu content*/ 

.mainmenu a{ 
    text-decoration: none; 
    text-transform: uppercase;
    font-family: sans-serif; 
    font-weight: bold;
    color: #55C3C4;
} 

.mainmenu ul{ 
    margin-left: 1.5em;
}

.mainmenu li{ 
    float: left; 
    margin-right: 1em;
    padding: 1em;
}

/*index.html*/
.container{ 
    position: relative; 
}

.location-block{ 
    position: absolute; 
    bottom: 65em; 
    right: 3em; 
    background-color: rgb(250, 217, 78);
    padding-left: 1em; 
    padding-right: 1em;
}

.location-block a{ 
    text-decoration: none;
    font-family: sans-serif;
    color: white; 
}

.header, .maincontent { 
    clear: both; 
}

/*location.html*/
.locations img{ 
    width: 80%;
}

.locations ul{ 
    padding-bottom: 1em;
}

