html {
    background: #c5cbe1;
}

body {
    background: #c5cbe1;
    color: #545454;
    margin: 1.5em; 
    padding: 2em 4em 4em;
    font-family: sans-serif;
    line-height: 1; 
}

h1{ 
    color: white; 
    text-transform: lowercase;
    text-align: center; 
    font-family: "Courier New";
    
}

h2{ 
    color: white; 
    text-transform: lowercase; 
    text-align: center; 
    font-size: 1em;
    font-family: "Courier New";
}

.signature{ 
    padding: .5em;
    }
img.images {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    max-width:100%; 
    height: auto;


}



