/* CSS document */ 

html{
    background-color: #000000;
}
body {
    font-family: 'Work Sans', sans-serif;
    color: #FFFFFF; 
}

h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
}

img{ 
    width: 100%; 
}

ul{ 
    list-style-type: none; 
}

.header, .maincontent, .mainmenu, .redbackground, footer, hr, h3{ 
    clear: both; 
}

hr{ 
    margin-top: 4em;   
}

a{ 
    color: #FFFFFF; 
    text-decoration: none; 
}

h3 span{ /* used in menu, locations */ 
    padding-left: 1em; 
    padding-right: 1em; 
    padding-bottom: .5em; 
    border-bottom: solid; 
    border-color: #E20C04;
    color: #E20C04; 
    font-size: 1.3em;
    margin-bottom: 2em; 
}

.maincontent h3{
    text-transform: uppercase;
    text-align: left;
    font-size: 1.3em; 
}

.maincontent h4{ 
    padding: 0; 
    margin-bottom: 0;
    clear: both; 
}

.content p{ 
    margin: auto; 
    max-width: 35em; 
    
}

.content h3{ 
    text-transform: uppercase; 
}

.content h3{ 
    text-align: center; 
    padding-bottom: 1em; 
}

.maincontent p, .content p{ 
    padding: 0;
    padding-top: 1em; 
    max-width: 35em;
    margin: 0 auto;
}

/*mainmenu content*/ 

.mainmenu li{ 
    width: 100%; 
}

.mainmenu{ 
    display: flex; 
    justify-content: center; 
    width: 100; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #1B1B1D;
    margin-bottom: 1em;
}

.mainmenu a{ 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
} 

.mainmenu ul{ 
    margin: 0; 
}

.mainmenu li{ 
    float: left; 
    margin-right: 2em;
    padding: 1em 2em 1em 2em;
    color: #FFFFFF;
    transition: 0.5s; 
    font-weight: bold;
    width: auto; 
}

.mainmenu a:hover{
    color: #E20C04; 
    text-decoration: underline; 
    font-size: 1.09em;
    transition: 0.5s;
}

.current a:hover, .maincontent a:hover{ 
    color: #000000; 
    text-decoration: underline; 
    font-size: 1.09em;
    transition: 0.5s;
}

.current{ 
    background-color: #E20C04;
}

/*index.html*/
.container { 
    width: 100%; 
    margin: 0 auto; 
}

.container img{ 
    vertical-align: middle;
    width: 65%; 
    margin: auto; 
    float: left; 
    padding-left: 1em; 
    padding-bottom: 1em; 
}
.container h1{ 
    float: left; 
    width: 30%; 
    text-transform: uppercase; 
    margin: 0;
    text-align: center; 
    background-color: #E20C04; 
    
}

.buttons{ 
    max-width: 30em; 
    clear: both;
    margin: 4em auto; 
}

.buttons li{ 
    display: inline; 
    padding: 1em;
    margin: 1em; 
    background-color: #E20C04;
}

/*location.html*/
.icon{ 
    width: 5%; 
    vertical-align: middle; 
    padding-right:.5em; 
    padding-top: 1em; 
    padding-bottom: 1em; 
}

.location{ 
    padding-top: 2em;
    margin-top: 0em; 
    max-width: 45em; 
}


.location h3{ 
    padding: .25em;
    margin-top: 0;
    margin-bottom: 0; 
}

.location ul{ 
    color: #FFFFFF;
    padding: 1em; 
    padding: 0;
    padding-left: 1em; 
}

.location p{ 
    padding-top: .5em; 
}

.location p, .location ul{ 
    text-align: left; 
    margin-top: 0em;
    width: 100; 
}
    
/*menu.html*/ 

.foodsection{ 
    max-width: 45em;
}

.foodsection ul{ 
    padding-left: 1em; }

.price{ 
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.foodsection h3{ 
    margin-bottom: 2em; 
}

.foodsection p{ 
    padding-top: .25em; }
.center{
    text-align: center; 
}

.underline{ 
    font-weight: 1000; 
    text-decoration: underline;
    padding-top: 0em; 
}

/*contest.html*/
.highlight{ 
    background-color: #E20C04;
    padding: .5em 1em .5em 1em;
    margin-top: 1em;
    margin-bottom: 1em; 
}

.highlight h2{ 
    text-align: center;    
}

.challenge img{ 
    width: 20%; 
    margin: .5em; 
}

ol, .formatted ul{ 
    justify-content: center; 
    margin: auto; 
    max-width: 35em; 
    padding-top: 1em; 
}

/*footer*/
footer{ 
    text-align: center; 
}

footer a{ 
    padding-left: 1em; 
    padding-top: 1em;
    padding-bottom: 1em;
}

footer a:hover, .yelp a:hover{ 
    color: #E20C04; 
}

footer img{ 
    width: 5%;
    vertical-align: middle;
}

footer h3{ 
    background-color: #E20C04; 
    padding: .5em; 
}

@media only screen and (min-width: 25em){ 
    .mainmenu li { 
        width: 25%;
    }
    .maincontent p{ 
        width: 80%}
}

@media only screen and (min-width: 50em){ 
    .foodsection, .location{ 
        width: 45%; 
        float: left; 
        margin-right: 1em; 
        margin-left: 1em; 
    }
    
    .foodsection:after{
        clear: both; 
    }
    
    .mainmenu li{ 
        width: auto; 
    }
}

@media only screen and (min-width: 75em){ 
    .foodsection, .location{ 
        width: 30%; 
    }

}