/*CSS DOCUMENT*/
    
}

body{  
    margin: 0em; 
}

img {
    width: 97%;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
}

h1{
    text-transform: uppercase; 
    font-family: sans-serif;
}

.container header{ 
    padding: 1em;
}

.intro{
    background-color: rgb(242,195,167, .7);  
    padding: 1em;
}

h2{ 
    text-transform:lowercase;
    font-family: sans-serif; 
    font-weight: normal; 
    
}

.container{ 
    margin: 1em;  
}

.container h{ 
    margin: 2em;
 }

.maincontent{ 
    font-family: sans-serif;
}

.intro p{ 
    padding-left: 5em; 
    padding-right: 5em; 
    font-family: sans-serif;
    text-align: center;
}

.ingredients{ 
    margin-left: 7em;
    margin-bottom: 2em;
    float: left; 
    width: 30%;
}

.ingredients h3{ 
    padding-left: 1em;
}

.ingredients ul{  
    border-top: .25em solid #F2C3A7;
    border-right: .25em solid #F2C3A7;
    padding: 1em 3em 6em 3.5em;
}

.directions{
    margin-bottom: 2em;
    float: left; 
    width: 50%;
    
}

.directions h3{ 
    padding-left: 1em;
}

.directions ol{ 
    border-top: .25em solid #F2C3A7;
    padding: 1em 3em 0em 3.5em;
}


footer{ 
    float: none; 
    clear: both; 
    margin-bottom: 1em;
}

h1, h2{ 
    text-align: center; 
}