/*CSS document*/

html, body {
    padding: 0; 
    margin: 0; 
    background-color: #FFF8F5; 
}

body{ 
    font-family: 'Lora'; 
} 

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0; 
}

img{ 
    width: 100%; 
}

header img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: .5em 0 .5em 0; 
    
}
   
ul {
    list-style-type: none;
    padding: 0; 
}

nav{ 
    display: flex; 
    justify-content: center; 
    background-color: #de7073;
    width: 100; 
    padding: .5em; 
}

nav li{  
    text-transform: uppercase; 
    padding: .5em;
    text-align: center; 
}

nav a{ 
    font-family: 'Open Sans'; 
    font-weight: 600;
    color: #FFF; 
}

nav ul{ 
    margin: 0;
}

a{ 
    color: #000000; 
    text-decoration: none; 
}

h2, h3 { 
    color: #101010; 
    font-family: 'Open Sans'; 
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 1em 0 1em; /* right and left padding */ 
}

p{ 
    font-family: 'Lora';
    font-weight: 100;
    color: #303030; 
    padding: 0 1.5em 0 1.5em; /* right and left padding */ 
}

section{ 
    background-color: #DDC9BE;
    margin: 2em 1.5em 2em 1.5em;
    
} 

section.image { 
    padding-bottom: 1em; 
}

section.textonly { 
    padding-top: 1em; 
    padding-bottom: 1em;
}

figcaption { 
    text-align: right; 
    padding: .5em 1em .5em .5em; 
    font-size: .8em; 
    color: #A9A9A9; 
}

article{ 
    margin-top: 2em; 
}

figure.article{ 
    margin: 3.25em 0 2.75em 0; 
}
